#grid {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

}
 .btn{
    display: block;
    padding: 10px;
    margin: 10px;
 }